aerich==0.7.2
aiosqlite==0.17.0
amqp==5.2.0
annotated-types==0.6.0
anyio==4.3.0
asn1crypto==1.5.1
async-timeout==4.0.3
asyncio==3.4.3
asyncpg==0.29.0
atlastk==0.13.3
atpublic==4.0
backports.zoneinfo==0.2.1
bcrypt==4.1.2
billiard==4.2.0
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==2.2.1
confluent-kafka==2.3.0
cryptography==42.0.5
dictdiffer==0.9.0
dnspython==2.6.1
email_validator==2.1.1
exceptiongroup==1.2.0
fastapi==0.110.0
filelock==3.13.1
grpcio==1.62.0
grpcio-tools==1.62.0
h11==0.14.0
idna==3.6
iso8601==1.1.0
kombu==5.3.5
loguru==0.7.2
nest-asyncio==1.6.0
packaging==23.2
passlib==1.7.4
platformdirs==3.11.0
prompt-toolkit==3.0.43
protobuf==4.25.3
pycparser==2.21
pydantic==2.6.3
pydantic_core==2.16.3
PyJWT==2.8.0
pyOpenSSL==24.0.0
pypika-tortoise==0.1.6
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
redis==5.0.2
requests==2.31.0
six==1.16.0
sniffio==1.3.1
snowflake==0.6.0
snowflake-connector-python==3.7.1
snowflake-snowpark-python==1.13.0
snowflake._legacy==0.5.0
snowflake.core==0.6.0
sortedcontainers==2.4.0
starlette==0.36.3
tomlkit==0.12.4
tortoise==0.1.1
tortoise-orm==0.20.0
typing_extensions==4.10.0
tzdata==2024.1
urllib3==1.26.18
uvicorn==0.27.1
vine==5.1.0
wcwidth==0.2.13
